<a href="https://colab.research.google.com/github/amalvatsa/MyAI-Journey/blob/main/AI7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#web scraping/scraping data from the web
#tool - beautiful scoup

#URL:-"https://www.amazon.in/Apple-iPhone-128GB-Space-Black/product-reviews/B0BDJ22G36/ref=cm_cr_dp_d_show_all_btm?ie=UTF8&reviewerType=all_reviews"

In [ ]:
import requests
from bs4 import BeautifulSoup as bs
url = "https://www.amazon.in/Apple-iPhone-128GB-Space-Black/product-reviews/B0BDJ22G36/ref=cm_cr_dp_d_show_all_btm?ie=UTF8&reviewerType=all_reviews"
page =requests.get(url) #we r requesting for coustomer review page from url
page
#response [200]> is correct, <Responce[503]> is an error,try running cell for 7 to 8 times

In [ ]:
soup = bs(page.content,'html.parser') #converts into better readible format.
soup

In [ ]:
# NEVER CONSIDER TOP POSTIVE AND TOP CRITICAL RIEVEIW.

In [ ]:
#CREATE SCRAPE THE COUSTOMER REVIEW NAMES
names = soup.find_all('span',class_ ='a-profile-name' )[2:]
names

In [ ]:
#create a data frame and put all the coustomer names in it
import pandas as pd
df =pd.DataFrame(names,columns=["Customer name"])
df

                Customer name
0                        Benu
1                        Benu
2                       Mr. M
3                       Mr. M
4              Gaurav Shahdeo
5      Lakshmesh Kumar Singh
6                AKASH SHARMA
7             Amazon Customer
8                      Vishal
9   Atreyapurapu Radha Madhav
10       Dibyaprakash Pradhan
11                    Dibakar

In [ ]:
#remove duplicates
df = df.drop_duplicates(ignore_index =True)
df

               Customer name
0                       Benu
1                      Mr. M
2             Gaurav Shahdeo
3     Lakshmesh Kumar Singh
4               AKASH SHARMA
5            Amazon Customer
6                     Vishal
7  Atreyapurapu Radha Madhav
8       Dibyaprakash Pradhan
9                    Dibakar

In [ ]:
#let scrape the review title
r_title = soup.find_all('a',class_ ='review-title')
r_title

In [ ]:
len(r_title)

10

In [ ]:
#cleaning data
review_title =[]
for i in range(0,len(r_title)):
  review_title.append(r_title[i].get_text()[1:-1])
review_title

['The Apple Pro Max 14: A Powerful Beast That Delivers on All Fronts',
 'Great',
 'About phone',
 'Good',
 'Android is better when it comes to os',
 'Super',
 'Phone is much better',
 'Most Trusted Online Site',
 'True Value',
 'Nothing can compete with this IMO']